/** Login Styles */

.login form, .login #login_error, .login .message, .login .success {
    background: #111;
}

.login label, #login .message {
    color: #fff;
}

#login #loginform #wp-submit.button {
    display: block !important;
    width: 100% !important;
    margin-top: 30px !important;
}